<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<style>
.col-lg-9{
	text-align:center;
}
.f1{
	background-color: #E9CC44;
	height:100px;
}
.f2{
	text-align:center;
}

.cartBtn{
	height:100px;
	width: 100%;
	background-color: transparent;
}

.checked {
    color: orange;
}
</style>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>고라시스</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/shop-homepage.css" rel="stylesheet">

  </head>

  <body>

    <!-- Page Content -->
    <div class="container">

        <div class="col-lg-9">
        
		<h1>장바구니</h1>
       
          <div class="row">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="../imgs/cafe4.jpeg" width="300px" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3>카페라떼</h3>
          <p>수량 </p>
          <div class="number">
			
			<button id="increaseQuantity">+</button>
			<span id="numberUpDown">1</span>
    		<button id="decreaseQuantity">-</button>

		</div>
		 <p>소계</p>
         <div class="price">
         <p>2000원</p>
         </div>
          <a class="btn btn-primary" href="#">삭제</a>
        </div>
      </div>

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->
   </div>   
   	<div class="container">
   		<div class="facet f2">
   		<h3>총 주문 금액</h3>
   		<h1>10000 원</h1>
   		</div>
   	</div>
      <div class="container">
      	<div class="wrapper">
      		<div class="facet f1"> <button class="cartBtn">주문하기</button> </div>
      	</div>
     
      
      </div>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../jquery/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
      <script src="../js/amount.js"></script>

  </body>

</html>
