<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<head>
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<div layout:fragment="content">

	
	<!-- Current Location -->
	<div id="mylocation">
		<div class="row">
			<div class="col-lg-12 text-center">

				<div class="btn-group" role="group"
					aria-label="Button group with nested dropdown">
					
					<button type=button class='btn btn-light' id="get-mylocation">
					<!-- <td th:text="${location != null} ? ${location} : '위치를 설정하세요'"></td> -->
					</button>

					<div class="btn-group" role="group">
						<button id="btnGroupDrop1" type="button"
							class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
							<a class="dropdown-item" href="#">내 위치로 찾기</a>
							<a class="dropdown-item" href="https://eatup.ga/map">지도로 찾기</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 검색기능 -->
		<div class="ui-widget">
			<label for="tags">검색내용: </label> <input id="tags">
			<a class="btn btn-info searchBtn" href="#">검색하기</a>
		</div>
		
		<div class="searchResult">
			<div class="searchResultStore">
				<ul></ul>
			</div>
			<div class="searchResultMenu">
				<ul></ul>
			</div>
		</div>
		

		<!-- Services -->
		<section id="services">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-left">
						<h3 class="section-heading text-uppercase">Quick Menu</h3>
						<h6 class="section-subheading text-muted">이전에 주문하신 음식을 더 빠르게
							결제해보세요!</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img class="mx-auto rounded-circle" src="../main/img/team/1.jpg"
								alt="">
							<h4>아이스아메리카노</h4>
							<p class="text-muted">고라니카페</p>
							<ul class="list-inline social-buttons">
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img class="mx-auto rounded-circle" src="../main/img/team/2.jpg"
								alt="">
							<h4>에그마요샌드위치</h4>
							<p class="text-muted">고라니카페</p>
							<ul class="list-inline social-buttons">
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img class="mx-auto rounded-circle" src="../main/img/team/3.jpg"
								alt="">
							<h4>무가당사과쥬스</h4>
							<p class="text-muted">고라니카페</p>
							<ul class="list-inline social-buttons">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Portfolio Grid -->
		<section class="bg-light" id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-left">
						<h3 class="section-heading text-uppercase">Ad stores</h3>
						<h6 class="section-subheading text-muted">고라니 추천 스토어</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 portfolio-item">
						<a class="portfolio-link" data-toggle="modal"
							href="#portfolioModal1">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div> <img class="img-fluid" src="../main/img/portfolio/cafe.jpg"
							alt="">
						</a>
						<div class="portfolio-caption">
							<h4>고라니카페</h4>
							<p class="text-muted">커피가 맛있는 고라니 카페</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<a class="portfolio-link" data-toggle="modal"
							href="#portfolioModal2">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div> <img class="img-fluid" src="../main/img/portfolio/dosirak.jpg"
							alt="">
						</a>
						<div class="portfolio-caption">
							<h4>고라니도시락</h4>
							<p class="text-muted">조미료를 쓰지않는 맛있는 도시락</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<a class="portfolio-link" data-toggle="modal"
							href="#portfolioModal3">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div> <img class="img-fluid" src="../main/img/portfolio/juice.jpeg"
							alt="">
						</a>
						<div class="portfolio-caption">
							<h4>고라니쥬스</h4>
							<p class="text-muted">생과일을 직접 갈아 만들었어요</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- About -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">

						<table class="table table-bordered table-dark">
							<thead>
								<tr>
									<th scope="col">전체</th>
									<th scope="col">커피·음료</th>
									<th scope="col">토스트·샌드위치</th>
									<th scope="col">도시락</th>
								</tr>
								<tr>
									<th scope="col">베이커리</th>
									<th scope="col">샐러드</th>
									<th scope="col">스낵</th>
									<th scope="col">기타</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</section>


		<!-- Team -->
		<section class="bg-light" id="team">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-left">
						<h3 class="section-heading text-uppercase">Stores</h3>
						<h6 class="section-subheading text-muted">Gorany 가맹점 리스트</h6>
					</div>
				</div>

				<!-- Project One -->
				<div class="row">
					<div class="col-md-7">
						<a href="/index"> <img class="img-fluid rounded mb-3 mb-md-0"
							src="../main/img/portfolio/cafe3.jpg" alt="">
						</a>
					</div>
					<div class="col-md-5">
						<h3>고라니카페</h3>
						<p>24시 커피전문점, 고라니 카페입니다.</p>
						<span class="badge badge-primary">#카페</span>
						<span class="badge badge-danger">#커피</span>
						<span class="badge badge-warning">#샌드위치</span>
						<span class="badge badge-dark">#토스트</span>
					</div>
				</div>
				<!-- /.row -->

				<hr>

				<!-- Project Two -->
				<div class="row">
					<div class="col-md-7">
						<a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
							src="../main/img/portfolio/cafe3.jpg" alt="">
						</a>
					</div>
					<div class="col-md-5">
						<h3>고라니카페</h3>
						<p>24시 커피전문점, 고라니 카페입니다.</p>
						<a class="btn btn-primary" href="#">#카페</a> <a
							class="btn btn-danger" href="#">#커피</a> <a
							class="btn btn-secondary" href="#">#샌드위치</a> <a
							class="btn btn-info" href="#">#토스트</a>
					</div>
				</div>
				<!-- /.row -->

				<hr>

				<!-- Project Three -->
				<div class="row">
					<div class="col-md-7">
						<a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
							src="../main/img/portfolio/cafe3.jpg" alt="">
						</a>
					</div>
					<div class="col-md-5">
						<h3>고라니카페</h3>
						<p>24시 커피전문점, 고라니 카페입니다.</p>
						<a class="btn btn-primary" href="#">#카페</a> <a
							class="btn btn-danger" href="#">#커피</a> <a
							class="btn btn-secondary" href="#">#샌드위치</a> <a
							class="btn btn-info" href="#">#토스트</a>
					</div>
				</div>
				<!-- /.row -->

				<hr>

				<!-- Project Four -->
				<div class="row">
					<div class="col-md-7">
						<a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
							src="../main/img/portfolio/cafe3.jpg" alt="">
						</a>
					</div>
					<div class="col-md-5">
						<h3>고라니카페</h3>
						<p>24시 커피전문점, 고라니 카페입니다.</p>
						<a class="btn btn-primary" href="#">#카페</a> <a
							class="btn btn-danger" href="#">#커피</a> <a
							class="btn btn-secondary" href="#">#샌드위치</a> <a
							class="btn btn-info" href="#">#토스트</a>
					</div>
				</div>
				<!-- /.row -->

				<hr>
			</div>
			<!-- /.container -->
		</section>




		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<span class="copyright">Copyright &copy; Gorany Company
							Website 2018</span>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
							<li class="list-inline-item"><a href="#">Terms of Use</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>

	
<!-- Portfolio Modals -->

<!-- end content -->

<script>


function getLocation() {
	  if (navigator.geolocation) { // GPS를 지원하면
	    navigator.geolocation.getCurrentPosition(function(position) {
	      alert(position.coords.latitude + ' ' + position.coords.longitude);
	    }, function(error) {
	      console.error(error);
	    }, {
	      enableHighAccuracy: false,
	      maximumAge: 0,
	      timeout: Infinity
	    });
	  } else {
	    alert('GPS를 지원하지 않습니다');
	  }
	}
	getLocation();

</script>


<th:block layout:fragment="script">
	
	<script th:inline="javascript" src="/js/search.js"></script>
	<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDbCTxE0H-50KkxbQsinxaN9EIpDoXA5Qk&ver=3.exp"></script>
	<script th:inline="javascript">
	

	$(document).ready(function(){
		
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		
		console.log(token);
		console.log(header);
	
	    $.ajaxSetup({
	        beforeSend: function(xhr) {
	            xhr.setRequestHeader(header, token);
	        }
	    });
        
		//검색창 자동완성
		function display(data){
			$( "#tags" ).autocomplete({
				source: data,
				matchContains: true,
				focus: function( event, ui ) {
					return false;
				},
				select: function( event, ui ) {
					event.stopPropagation();
					console.log(ui.item.value);
					$("#tags").val(ui.item.value);
					search();
				}
			});//end autocomplete
			
		};//end function
	 	
			
		searchService.autoComplete(function(result){
			display(result);
		}); 
		

/* 		//엔터 이벤트
		$("#tags").keydown(function(event){
			
			if(event.keyCode == 13){
				console.log("엔터");
				close = 1;
				event.preventDefault();
				search();
				}
			}
		); */
		
		//검색하기 with 엔터
		function search(){
			
			var keyword = $("#tags").val();
			console.log(keyword);
			
			$(".searchResultStore ul").empty();
			$(".searchResultMenu ul").empty();
			
			if(keyword===""){
				$(".searchResultStore ul").append("검색어를 입력해주세요");
				return;
			}
			
			searchService.searchStore(keyword,function(result){
				
				$(".searchResultStore ul").append("---------상점검색결과---------");
				if(result==""){
					$(".searchResultStore ul").append("</br>해당되는 상점이 없습니다.");
				}
				$.each(result, function (index, item) {
					$(".searchResultStore ul").append("<li>" + item.sname + "</li>");
					});
			});
			
			searchService.searchMenu(keyword,function(result){
				
				$(".searchResultMenu ul").append("---------메뉴검색결과---------");
				if(result==""){
					$(".searchResultMenu ul").append("</br>해당되는 메뉴가 없습니다.");
				}
				$.each(result, function (index, item) {
					$(".searchResultMenu ul").append("<li>" + item.mname + ", 가격: " + item.mprice + "</li>");
					});
			});
			
		}

	 	//검색하기 with 버튼
		$(".searchBtn").on("click",function(e){
			e.preventDefault();
			console.log("searchBtn........")
			
			var keyword = $("#tags").val();
			
			$(".searchResultStore ul").empty();
			$(".searchResultMenu ul").empty();
			
			if(keyword===""){
				$(".searchResultStore ul").append("검색어를 입력해주세요");
				return;
			}
			
			searchService.searchStore(keyword,function(result){
				
				$(".searchResultStore ul").append("---------상점검색결과---------");
				if(result==""){
					$(".searchResultStore ul").append("</br>해당되는 상점이 없습니다.");
				}
				$.each(result, function (index, item) {
					$(".searchResultStore ul").append("<li>" + item.sname + "</li>");
					});
			});
			
			searchService.searchMenu(keyword,function(result){
				
				$(".searchResultMenu ul").append("---------메뉴검색결과---------");
				if(result==""){
					$(".searchResultMenu ul").append("</br>해당되는 메뉴가 없습니다.");
				}
				$.each(result, function (index, item) {
					$(".searchResultMenu ul").append("<li>" + item.mname + ", 가격: " + item.mprice + "</li>");
					});
			});
			
		}); 
	});
	

	// 내위치 주소변환(Geolocation)
	
	var mylocation = "";
	
	 $("#get-mylocation").show( function(e) {
	        /* HTML5 Geolocation */
	        navigator.geolocation.getCurrentPosition(
	            function( position ){ // success cb
	 
	                /* Current Coordinate */
	                var lat = position.coords.latitude;
	                var lng = position.coords.longitude;
	                var google_map_pos = new google.maps.LatLng( lat, lng );
	 
	                /* Use Geocoder to get address */
	                var google_maps_geocoder = new google.maps.Geocoder();
	                google_maps_geocoder.geocode(
	                    { 'latLng': google_map_pos },
	                    function( results, status ) {
	                        if ( status == google.maps.GeocoderStatus.OK && results[2] ) {
	                            var streetAddress = results[2].address_components[1].long_name;
	                            var city= results[2].address_components[2].long_name;
	                            var state = results[2].address_components[3].long_name;
	                            mylocation = state + " " + city + " " + streetAddress
	                            console.log("내위치 : " + mylocation);
	                            $("#get-mylocation").append(mylocation);
	                            
	                        }
	                    }
	                );
	            },
	            function(){ // fail cb
	            	console.log("fail cb");
	            }
	        );
	        
	        
	    });

		  

	</script>
</th:block>

