<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">


<div layout:fragment="content">


	<!-- Current Location -->
	<div id="mylocation">
		<div class="row">
			<div class="col-lg-12 text-center">

				<div class="btn-group" role="group"
					aria-label="Button group with nested dropdown">
					<button type="button" class="btn btn-light">서울시 종로구 관철동</button>

					<div class="btn-group" role="group">
						<button id="btnGroupDrop1" type="button"
							class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"></button>
						<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
							<a class="dropdown-item" href="#">주소로 찾기</a> <a
								class="dropdown-item" href="#">지도로 찾기</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- 검색기능 -->
		<form class="search">
		<div class="ui-widget">
			<label for="tags">검색내용: </label> <input id="keyword">
			<a class="btn btn-info searchBtn" href="#">검색하기</a>
		</div>
		</form>
		<div class="searchResult">
			검색결과:
			<ul>
				<li></li>
			</ul>
		</div>

		<!-- Services -->
		<section id="services">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-left">
						<h3 class="section-heading text-uppercase">Quick Menu</h3>
						<h6 class="section-subheading text-muted">이전에 주문하신 음식을 더 빠르게
							결제해보세요!</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img class="mx-auto rounded-circle" src="../main/img/team/1.jpg"
								alt="">
							<h4>아이스아메리카노</h4>
							<p class="text-muted">고라니카페</p>
							<ul class="list-inline social-buttons">
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img class="mx-auto rounded-circle" src="../main/img/team/2.jpg"
								alt="">
							<h4>에그마요샌드위치</h4>
							<p class="text-muted">고라니카페</p>
							<ul class="list-inline social-buttons">
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img class="mx-auto rounded-circle" src="../main/img/team/3.jpg"
								alt="">
							<h4>무가당사과쥬스</h4>
							<p class="text-muted">고라니카페</p>
							<ul class="list-inline social-buttons">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Portfolio Grid -->
		<section class="bg-light" id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-left">
						<h3 class="section-heading text-uppercase">Ad stores</h3>
						<h6 class="section-subheading text-muted">고라니 추천 스토어</h6>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 portfolio-item">
						<a class="portfolio-link" data-toggle="modal"
							href="#portfolioModal1">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div> <img class="img-fluid" src="../main/img/portfolio/cafe.jpg"
							alt="">
						</a>
						<div class="portfolio-caption">
							<h4>고라니카페</h4>
							<p class="text-muted">커피가 맛있는 고라니 카페</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<a class="portfolio-link" data-toggle="modal"
							href="#portfolioModal2">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div> <img class="img-fluid" src="../main/img/portfolio/dosirak.jpg"
							alt="">
						</a>
						<div class="portfolio-caption">
							<h4>고라니도시락</h4>
							<p class="text-muted">조미료를 쓰지않는 맛있는 도시락</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 portfolio-item">
						<a class="portfolio-link" data-toggle="modal"
							href="#portfolioModal3">
							<div class="portfolio-hover">
								<div class="portfolio-hover-content">
									<i class="fas fa-plus fa-3x"></i>
								</div>
							</div> <img class="img-fluid" src="../main/img/portfolio/juice.jpeg"
							alt="">
						</a>
						<div class="portfolio-caption">
							<h4>고라니쥬스</h4>
							<p class="text-muted">생과일을 직접 갈아 만들었어요</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- About -->
		<section id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">

						<table class="table table-bordered table-dark">
							<thead>
								<tr>
									<th scope="col">전체</th>
									<th scope="col">커피·음료</th>
									<th scope="col">토스트·샌드위치</th>
									<th scope="col">도시락</th>
								</tr>
								<tr>
									<th scope="col">베이커리</th>
									<th scope="col">샐러드</th>
									<th scope="col">스낵</th>
									<th scope="col">기타</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>

			</div>
		</section>


		<!-- Team -->
		<section class="bg-light" id="team">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-left">
						<h3 class="section-heading text-uppercase">Stores</h3>
						<h6 class="section-subheading text-muted">Gorany 가맹점 리스트</h6>
					</div>
				</div>

				<!-- Project One -->
				<div class="row">
					<div class="col-md-7">
						<a href="/index"> <img class="img-fluid rounded mb-3 mb-md-0"
							src="../main/img/portfolio/cafe3.jpg" alt="">
						</a>
					</div>
					<div class="col-md-5">
						<h3>고라니카페</h3>
						<p>24시 커피전문점, 고라니 카페입니다.</p>
						<span class="badge badge-primary">#카페</span>
						<span class="badge badge-danger">#커피</span>
						<span class="badge badge-warning">#샌드위치</span>
						<span class="badge badge-dark">#토스트</span>
					</div>
				</div>
				<!-- /.row -->

				<hr>

				<!-- Project Two -->
				<div class="row">
					<div class="col-md-7">
						<a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
							src="../main/img/portfolio/cafe3.jpg" alt="">
						</a>
					</div>
					<div class="col-md-5">
						<h3>고라니카페</h3>
						<p>24시 커피전문점, 고라니 카페입니다.</p>
						<a class="btn btn-primary" href="#">#카페</a> <a
							class="btn btn-danger" href="#">#커피</a> <a
							class="btn btn-secondary" href="#">#샌드위치</a> <a
							class="btn btn-info" href="#">#토스트</a>
					</div>
				</div>
				<!-- /.row -->

				<hr>

				<!-- Project Three -->
				<div class="row">
					<div class="col-md-7">
						<a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
							src="../main/img/portfolio/cafe3.jpg" alt="">
						</a>
					</div>
					<div class="col-md-5">
						<h3>고라니카페</h3>
						<p>24시 커피전문점, 고라니 카페입니다.</p>
						<a class="btn btn-primary" href="#">#카페</a> <a
							class="btn btn-danger" href="#">#커피</a> <a
							class="btn btn-secondary" href="#">#샌드위치</a> <a
							class="btn btn-info" href="#">#토스트</a>
					</div>
				</div>
				<!-- /.row -->

				<hr>

				<!-- Project Four -->
				<div class="row">
					<div class="col-md-7">
						<a href="#"> <img class="img-fluid rounded mb-3 mb-md-0"
							src="../main/img/portfolio/cafe3.jpg" alt="">
						</a>
					</div>
					<div class="col-md-5">
						<h3>고라니카페</h3>
						<p>24시 커피전문점, 고라니 카페입니다.</p>
						<a class="btn btn-primary" href="#">#카페</a> <a
							class="btn btn-danger" href="#">#커피</a> <a
							class="btn btn-secondary" href="#">#샌드위치</a> <a
							class="btn btn-info" href="#">#토스트</a>
					</div>
				</div>
				<!-- /.row -->

				<hr>
			</div>
			<!-- /.container -->
		</section>




		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<span class="copyright">Copyright &copy; Gorany Company
							Website 2018</span>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
							<li class="list-inline-item"><a href="#">Terms of Use</a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>

<!-- Portfolio Modals -->

<!-- end content -->



<th:block layout:fragment="script">
	
	<script th:inline="javascript" src="/js/search.js"></script>
	<script th:inline="javascript">
	
	//검색창 자동완성
	function data(){
		console.log("==========");
		searchService.autoComplete(function(result){
			  
			  $( "#tags" ).autocomplete({
			      source: result
		      });
			  
		  });
	};
	
	data();
	
	//검색하기
	$(".searchBtn").on("click",function(e){
		e.preventDefault();
		console.log("searchBtn........")
		
		var keyword = $("#keyword").val();
		console.log(keyword);
		
		searchService.search(keyword,function(result){
			
			console.log(result);
		});
		
	});
		  

		  

	</script>
</th:block>

