<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
<title>Login Demo - Kakao JavaScript SDK</title>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
<form id="actionForm">
<a href="https://kauth.kakao.com/oauth/authorize?client_id=8392c8baf0d0c5aa5ba40677ff1e40e2&redirect_uri=http://localhost:8080/kakaologin&response_type=code&scope=account_email&scope=gender">
	<img src="../imgs/kakao-btn.png">
</a>

</form>

<div id="naver_id_login" style="text-align:center"><a href="https://nid.naver.com/oauth2.0/authorize?client_id=LDp9BYkvyaslYqUOz1h5&response_type=code&redirect_uri=http://localhost:8080/naverlogin">
<img width="223" src="https://developers.naver.com/doc/review_201802/CK_bEFnWMeEBjXpQ5o8N_20180202_7aot50.png"/></a></div>

<div id="google_id_login"><a href = "https://accounts.google.com/o/oauth2/auth?client_id=392762300432-eq62skbdmkuve2p72cmf661mt7daho73.apps.googleusercontent.com
&redirect_uri=http://localhost:8080/googlelogin&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile+https://www.googleapis.com/auth/plus.me">
google login
</a></div>


<script src="../main/vendor/jquery/jquery.min.js"></script>
<script type='text/javascript'>
  //<![CDATA[
     // 사용할 앱의 JavaScript 키를 설정해 주세요.
/*     Kakao.init('dc56ff6a9fc8065d98b43e87a79e20a4');
    // 카카오 로그인 버튼을 생성합니다.
    Kakao.Auth.createLoginButton({
      container: '#kakao-login-btn',
      success: function(authObj) {
        // 로그인 성공시, API를 호출합니다.
        Kakao.API.request({
          url: '/v2/user/me',
          success: function(res) {
            console.log(JSON.stringify(res));
          },
          fail: function(error) {
            console.log(JSON.stringify(error));
          }
        });
      },
      fail: function(err) {
        alert(JSON.stringify(err));
      }
    });  */
  //]]>
</script>
</body>
</html>