<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.gorany.mapper.UserMapper">
 
 	<select id="getUserList" resultType="org.gorany.domain.UserVO">
 		select * from user
 	</select>

 	<insert id="registerUser">
 		insert into user (uid, upw, nickname, email, sns_id, status)
 		values ("user_kakao", "12345678", #{nickname}, #{email}, #{sns_id}, #{status})
 	</insert> 
 </mapper>

 